<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dymc.mapper.UserMapper">
    <!--
     1)useGeneratedKeys="true" 表示使用insert操作自动生成的主键值.
     2)keyProperty="id"将自增的主键值赋值给参数对象activity的id属性
     -->

<!--    查询用户所有信息-->
    <select id="findUsers"
            resultType="com.dymc.pojo.User">
        select id,username,password,phone,money,createdTime
        from
        fq_user
    </select>

<!--    查询用户名是否存在数据库(注册前)-->
    <select id="queryUser"
            resultType="com.dymc.pojo.User">
        select * from fq_user
        <where>
            username=#{username}
        </where>

    </select>

<!--    新增用户(注册)-->
    <insert id="insertUser"
            parameterType="com.dymc.pojo.User"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into fq_user
        (username,password,phone,money,createdTime)
        values
        (#{username},#{password},#{phone},0,now())
    </insert>

<!--    查询用户是否存在(登录)-->
    <select id="queryUsers"
            resultType="com.dymc.pojo.User">
        select *
        from fq_user
        <where>
            username=#{username}
            and
            password=#{password}
        </where>
    </select>

<!--    用户充值-->
    <update id="depositUser"
            parameterType="com.dymc.pojo.User">
        update fq_user
        set
        money = money + #{money}
        where
        username = #{username}
    </update>

<!--    用户使用充电套餐-->
    <update id="chargeUser"
            parameterType="com.dymc.pojo.User">
        update fq_user
        set
        money = money - #{money}
        where
        username = #{username}
    </update>

<!--    删除用户-->
    <delete id="deleteUser"
            parameterType="com.dymc.pojo.User">
        delete from fq_user
        <where>
            username = #{username}
        </where>
    </delete>
</mapper>
